@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import "./variables.css";
@import "./header.css";
@import "./hero.css";
@import "./footer.css";
@import "./catalog_products.css";
@import "./product_card_page.css";
@import "./empty_cart.css";
@import "./cart.css";
@import "./toaster.css";

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}