.toaster-wrapper {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 400px;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

@media (max-width: 768px) {
  .toaster-wrapper {
    width: 100%;
    
  }  
}

.toaster {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 356px;
  z-index: 9999;
  perspective: 1000px;
}

.toaster .toast-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  background: var(--color-white);
  color: #0a0a0a;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transform-origin: top center;
  will-change: transform;
  transform: 
    translateX(var(--x, 0px))
    translateY(var(--y, 0px))
    scale(var(--scale, 1));
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.toaster:hover{
  gap: 44px;
}

.toast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.toast-icon svg {
  width: 20px;
  height: 20px;
}

.toast-title {
  font-size: 13px;
  font-weight: 500;
}